
<div class="">
    <div class="col-md-4">

        <h1>Login to continue!</h1>

        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username" class="form-control"><br>
            <input type="password" name="password" placeholder="password" class="form-control"><br>
            <input type="submit" value="Submit" class="form-control">
        </form>

    <h1>Or register here!</h1>

        <form action="/registration" method="post">
            <input type="text" name="username" placeholder="username" class="form-control"><br>
            <input type="password" name="password" placeholder="password" class="form-control"><br>
            <input type="password" name="passwordCheck" placeholder="password" class="form-control"><br>
            <input type="submit" value="Submit" class="form-control">
        </form>
    </div>
</div>
