<h1>User page of: {{{username}}}</h1>

<a href="/logout" class="btn btn-info" role="button">Logout</a>
<br><br>

<div class="">
    <div class="col-md-3">
        Pagina van user: <strong>{{{username}}} </strong>
    </div>

    <div class="col-md-4">
        <p>Nothing to see here </p>
    </div>
</div>
