<h1>User page of: {{{username}}}</h1> <br> <br>

<a href="/logout" class="btn btn-info" role="button">Logout</a>
<br><br>

<div class="">
    <div class="col-md-4">
        <h1>Attending Events </h1> <br> <br>

        <ul class="list-group">
            {{#if events}}
                {{#each events}}
                    <a href="#" class="list-group-item">{{this.eventname}}</a>
                {{/each}}
             {{else}}
               <a class="list-group-item">No events found</a>
             {{/if}}
        </ul>

    </div>

    <div class="col-md-4">
        <h1>Add event </h1> <br> <br>
        <form action="/addEvent" method="post">
            <input type="text" name="eventname" placeholder="Event name" class="form-control"><br>
            <input type="date" name="date" class="form-control"><br>
            <input type="time" name="time" class="form-control"><br>
            <input type="text" name="location" placeholder="Location" class="form-control"><br>
            <textarea name="description" placeholder="Description" class="form-control"></textarea> <br>
            <input type="submit" value="Submit" class="form-control">
        </form>
    </div>
</div>
